section.collections
	.collections__items
		.collections__item
			.collections__left
				p <strong>Мужская</strong> коллекция
				h6 Обувь, полуверы, костюмы
				a(href="#", class="button") <img src="img/arrow-right.svg" alt="Стрелка">
			.collections__right
				img(src="img/man.jpg", alt="Мужчина")

		.collections__item
			.collections__left
				p <strong>Женская</strong> коллекция
				h6 Обувь, полуверы, костюмы
				a(href="#", class="button") <img src="img/arrow-right.svg" alt="Стрелка">
			.collections__right
				img(src="img/female.jpg", alt="Женщина")
