footer
	.footer__black
		._container
			.footer__block
				.footer__header
					.footer__header--header
						img(src="img/logo.svg" alt="лого")
						h3 The Loop
					.footer__header--text
						p.
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla faucibus egestas elit, at eleifend elit ornare ut.
				.footer__links
					.footer__link
						h5 Основные ссылки
						ul
							li <a href="#"> О компании</a>
							li <a href="#"> Каталог</a>
							li <a href="#"> Доставка</a>
							li <a href="#"> Оплата</a>
					.footer__link
						h5 Категории
						ul
							li <a href="#"> Мужская одежда
							li <a href="#"> Женская одежда</a>
							li <a href="#"> Детская одежда</a>
							li <a href="#"> Для животных</a>
					.footer__link
						h5 Полезные ссылки
						ul
							li <a href="#"> Таблица размеров</a>
							li <a href="#"> Блог о моде</a>
							li <a href="#"> Наша миссия</a>
					.footer__link
						h5 Соц сети
						ul
							li <img src="img/vk-ico.svg" alt="вк" > <a href="#"> VK.com</a>
							li <img src="img/facebook-ico.svg" alt="фейсбук" > <a href="#"> Facebook</a>
							li <img src="img/inst-ico.svg" alt="инста" ><a href="#"> Instagram</a>
