
section.main-block
	.preview
		.preview__title
			p Зимняя распродажа
			h1 Скидки до 90%
		.preview__button
			a(href="#", class="button") Смотреть модели
	
	.tovar
		.tovar__img
			img(src="img/krosovok.png" alt="Картинка товара")
			.tovar__price
				s 9 900 ₽
				h2 1 900 ₽ 