//- Главная страница сайта
extends base
block content
	main.main
		include ./pug/components/main-block.pug
		include ./pug/components/separator-block.pug
		include ./pug/components/collections-block.pug
		include ./pug/components/new-models.pug