// Файл со стандартными настройками сайта
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background: var(--bgColor);
}

img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    flex-shrink: 0;
}

ul {
    > li {
        list-style: none;
    }
}

a {
    text-decoration: none;
    color: inherit;
}

button, input {
    outline: none;
    border: none;
    cursor: pointer;
}

._container {
    max-width: 111rem;
    margin: auto;
}